
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
header{
    width: 100vw;
}
main{
    height: 2000px;
}
footer{
    width: 100vw;
}
.box_size{
    width: 1024px;
    margin: auto;
}
.top_bar{
    background-color: #F8F8F8;
    color: #919BAF; 
    height: 36px;
}
.top_bar>div{
    height: 100%;
    margin: auto;
    position: relative;
}
.top_bar_link{
    display: flex;
    position: absolute;
    right: 0;
}
.top_bar_link>div{
    font-size: 0.7rem;
    padding: calc((36px - 0.7rem)/2) 15px;
}
.head{
    height: 125px;
    align-items: center;
    position: relative;
    display: flex;
}
#logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#logo>img{
    height: 80px;
    width: 189px;
}
.head_right{
    position: absolute;
    right: 0;
}
.head i{
    padding: 0 15px;
}
.navi{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}
nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 54px;
    font-size: 0.9rem;
}
nav>ul>li{
    height: 100%;
    line-height: 54px;
}
/* ---------------- HEADER ---------------- */

/* ---------------- MAIN ---------------- */

main>div{
    height: calc(1024px / 2);
    position: relative;
}
main a{
    color: #9A9A9A;
}

.list_home{
    padding: 3px 7px;
    margin-top: 20px;
    font-size: 0.8rem;
}
.list_title{
    padding: 37px 0 50px;
    font-size: 1.375rem;
    font-weight: bolder;
    line-height: 1;
    text-align: center;
}
.total{
    padding: 3px 7px;
    display: inline-block;
}
.list_range{
    padding: 15px 0 30px;
    font-size: 0.7rem;
    color: #9A9A9A;
}

.black_font {
    font-style: normal;
    color: black;
}

.list_range_top {
    float: right;
}

.list_type li {
    list-style: none;
    display: inline-block;
    padding: 3px 7px;
}
/* .list_type li::after { 문석님한테물어보기
    content: "|";
} */









/* ---------------- FOOTER ---------------- */
.footer_top{
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    color: #6f6f6f; 
    font-size: 0.8rem;
    height: 110px;
}
.footer_top>div{
    position: relative;
    height: 100%;
    text-indent: 10px;
}
.footer_top ul{
    list-style: none;
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    color: initial;
    font-size: 0.9rem;
    font-weight: 500;
}
.footer_top ul>li{
    padding-left: 20px;
}
.footer_top>div>p:nth-of-type(1){
    padding-top: 25px;
}
.footer_top>div>p:nth-of-type(1)>span:nth-child(2):before{
    content: "|";
    margin: 10px;
}
.footer_top>div>p:nth-of-type(2){
    margin: 10px 0;
}
.footer_top>div>p:nth-of-type(2)>span:nth-child(2):before{
    content: "|";
    margin: 10px;
}
.footer_bottom{
    border-top: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    background-color: #F8F8F8;
    color: #919BAF; 
    line-height: 40px;
    text-indent: 10px;
}
.footer_bottom>div{
    display: flex;
    position: relative;
    font-size: 0.7rem;
}
.footer_bottom ul{
    list-style: none;
    display: flex;
    position: absolute;
    right: 10px;
    font-size: initial;
}
