*{
    padding: 0;
    margin: 0;
}
header{
    width: 100vw;
    /* margin or pandding 금일 마감 예약 전에  */
}
main,{
    width: 80vw;
    margin: auto;
    background-color:antiquewhite;
}
.top{
    background-color: #F8F8F8;
    color: #919BAF; 
    position: relative;
    height: 36px;
}
.account{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    margin: 0 10%;
    align-items: center;
}
.account>div{
    height: 36px;
    padding: 10px;
    text-wrap: nowrap;
    font-size: 0.7rem;
    text-align: center;
}
.box{
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.containers{
    width: 80%;
    /* background-color: pink; */
    margin: auto;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo>img{
    height: 80px;
    width: 189px;
}
.container{
    display:flex;
    justify-content: space-between;
}
.container>i{
   padding: 10px;
   margin: 0px 5px;
}
nav{
    width: 80%;
    margin:auto;
}
nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 54px;
    font-size: 0.9rem;
    /* text-decoration: none; */
}
.ads{
    height: 480px;
    background-color: aqua;
    /* 7개의 광고가 있음 */
}
#today{
    height: 121px;
    text-align: center;
    line-height: 121px;
}
.goods{
    height: 480px;
    width: 100%;
    display: grid;
    grid-template: repeat(4,1fr);
    background-color: aquamarine;
}
.goods>div{
    height: 386px;
    width: 296px;
    display:none;
}
.grid{
    display: grid;
    grid-template: ;
}